@media screen and (min-width: $desktop-min-width) {
  .address {
    width: 349px;
    height: 440px;
    position: absolute;
    top: 0%;
    left: 15%;
    padding-top: 65px;
    background: $header-bg-color;

    & > h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: $text-color;
      margin-bottom: 15px;
    }

    & .address-circle {
      width: 42.5px;
      height: 42.5px;
      border-radius: 50%;
      background: $gallery-color;
      margin: 0px auto;
      margin-bottom: 15px;

      & > img {
        margin-left: 23%;
        margin-top: 12%;
      }
    }

    & > .address-content {
      margin: 0px auto;
      width: 239px;
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $text-color;
      border-bottom: solid 1px $border-color;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    & > h3 {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: $text-color;
      margin-bottom: 20px;
    }

    & > .icons-container {
      width: 134.7px;
      height: 44.5px;
      display: flex;
      margin: 0px auto;
    }

    .ic {
      width: 45.1px;
      height: 44.5px;
      border: 1px solid rgba(255, 255, 255, 0.303);
      display: flex;
      justify-content: center;
      align-items: center;
      & > i {
        font-size: 20px;
        color: $text-color;
      }
    }
  }
}
