@media screen and (min-width: $desktop-min-width) {
  .thumbnail {
    width: 621.82px;
    height: 408.76px;
    background: $gallery-color;
    margin-left: 15%;
  }

  #gallery-title-2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    color: $gallery-title;
    margin-bottom: 35px;
    margin-top: -7px;
  }

  #gallery-title-1 {
    display: none;
  }

  .gallery {
    padding-top: 48.4px;
    height: 514px;
  }

  .images {
    & .pic-container {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      display: grid;
      width: 366.96px;
      height: 366.96px;
      & > div {
        width: 107.02px;
        height: 100.9px;
        background: $gallery-color;

        &:hover {
          border: solid 8px $gallery-border;
        }
      }
    }
  }
}
