@media screen and (min-width: $desktop-min-width) {
  .header-info {
    width: 350px;
    height: 425px;
    margin-left: 15%;
    padding-left: 31.5px;
  }

  .title {
    margin-top: 29px;
    margin-bottom: 20px;
    & > span{
        font-size: 18px;
        top: 4px;
        right: 60px;
    }
  }

  #logo {
    width: 44.86px;
    height: 44.86px;
    padding-top: 3px;
    font-size: 32.21px;
  }

  .grey-1 {
    width: 15%;
    background: #dbdbdb;
  }
  .grey-2 {
    width: 350px;
    background: #dbdbdb;
    margin-right: 38.2%;
  }

  #mobile-menu {
    display: none;
  }

  .photography {
    margin-left: 1px;
  }

  .profile {
    margin-left: 4px;
  }

  .divider {
      width: 280px;
      font-size: 16px;
      margin-left: 2px;
  }

  .admission {
    font-size: 18px;
  }

  .image-container {
    right: 0%;
    bottom: 0%;
  }
}
