@media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .header-info {
        width: 344px;
        height: 425px;
        margin-left: 51.3px;
    }

    .grey {
        width: 51.3px;
        margin-right:74.6%;
    }

}