@media screen and (min-width: $desktop-min-width) {
  .footer {
    height: 163.5px;
    align-items: center;
    padding-left: 17%;

    & > h3 {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 14px;
      line-height: 16.8px;
      text-align: left;
      color: $gallery-title;
      margin-bottom: 7px;
    }
  }

  .footer-title {
    width: 224.25px;
    height: 71.5px;
    margin-top: 15px;
    position: relative;
    margin-right: 27.5%;

    & > span {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-align: left;
      color: $text-color;
      font-size: 18px;
      position: absolute;
      top: 6px;
      left: 53px;
    }
  }

  #footer-logo {
    padding: 4px 9px;
    border: 3px solid $text-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    color: $text-color;
    display: inline-block;
    font-size: 32.21px;
  }

  .up-arrow {
    width: 39px;
    height: 39px;
    border: 1px solid ;
    margin-left: 23.6%;

    & > img {
      margin-left: 50%;
      margin-top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

@media screen and (max-width: 1230px) and (min-width:1024px) {
  .up-arrow {
    margin-left: 18%;
  }

  .footer-title {
    margin-right: 22%;
  }
}
