$header-bg-color: #ed1c24;
$text-color: #fff;
$nav-bg-color: #111;
$border-color: grey;
$icons-border-color: rgba(255, 255, 255, 0.303);
$overview-block1-color: #DBDBDB;
$overview-block2-color: #898989;
$gallery-bg-color: #111;
$gallery-color: #fff;
$gallery-border: #ed1c24;

$venue-bg-color: #ff4242;
$paragraph-color: #222;

$gallery-title: #fefefe;

$aroow-border-color: rgba(255, 255, 255, 0.3);
